/* NOSOTROS */
.videoNosotros {
    display: flex;
    justify-content: center;
    @media (min-width: 320px) and (max-width: 480px) {
        height: 175px; width: 200px;
    }
}

.parrafoNosotros {
    text-align: center;
}    
